/* Class button */
.btn--main
{
    position: relative;
    cursor: pointer;
    color: #FFFFFF;
    height: 20px;
    width: 200px;
}

.btn--border
{
    border: solid 1px #FFFFFF50;
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.btn--line
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.btn--line.top--left
{
    left: 0;
    top: 0;
}

.btn--line.bottom--right
{
    right: 0;
    bottom: 0;
}

.btn--border.border--back
{
    transform: translateX(2%) translateY(10%);
}

.btn--main:hover .top--left::after
{
    transform: scaleX(1);
}

.top--left::after
{
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    background: #FFFFFF;
    width: 100%;
    height: 1px;
    transition: transform 0.3s;
    transform-origin: left;
    transform: scaleX(0);
    will-change: transform;
}

.btn--main:hover .top--left::before
{
    transform: scaleY(1);
}

.top--left::before
{
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    background: #FFFFFF;
    width: 1px;
    height: 100%;
    transition: transform 0.3s;
    transform-origin: top;
    transform: scaleY(0);
    will-change: transform;
}

.btn--main:hover .bottom--right::after
{
    transform: scaleX(1);
}

.bottom--right::after
{
    content: "";
    position: absolute;
    right: -1px;
    bottom: -1px;
    background: #FFFFFF;
    width: 100%;
    height: 1px;
    transition: transform 0.3s;
    transform-origin: right;
    transform: scaleX(0);
    will-change: transform;
}

.btn--main:hover .bottom--right::before
{
    transform: scaleY(1);
}

.bottom--right::before
{
    content: "";
    position: absolute;
    right: -1px;
    bottom: -1px;
    background: #FFFFFF;
    width: 1px;
    height: 100%;
    transition: transform 0.3s;
    transform-origin: bottom;
    transform: scaleY(0);
    will-change: transform;
}

.btn--border.border--front
{
    transform: translateX(-2%) translateY(-10%);
}

.btn--border.btn--content
{
    text-align: center;
}

/* Menu */

.menu__cards
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}

.menu__card
{
    height: 100%;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.menu__card::before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #412057;
    opacity: 0.28;
    z-index: 2;
    transition: opacity 0.3s;
    will-change: opacity;
}

.menu__card__content
{
    position: relative;
    height: 100%;
    z-index: 1;
}

.menu__card.active::before
{
    opacity: 0;
    z-index: 1;
}

.menu__card.incoming::after
{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00000080;
    z-index: 2;
}

.menu__card.active .menu__card__content .card__content__inner
{
    opacity: 1;
}

.menu__card .menu__card__content .card__title
{
    position: absolute;
    left: 5%;
    top: 30%;
    font-size: 4rem;
    color: #FFFFFF;
    text-transform: uppercase;
}

.menu__card .menu__card__content .card__content__inner
{
    position: absolute;
    width: 40%;
    top: 45%;
    left: 5%;
    opacity: 0;
    transition: opacity 1s;
    will-change: opacity;
}

.menu__card .menu__card__content .frontImage
{
    position: absolute;
    right: -5%;
    bottom: -10%;
    height: 90%;
    z-index: -1;
}

/* Close button */

.btn--close 
{
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    z-index: 20;
    cursor: pointer;
    transition: transform 0.3s;
    will-change: transform;
}

.btn--close:hover 
{
    opacity: 1;
}

.btn--close.close
{
    transform: rotate(90deg)
}

.btn--close::before, 
.btn--close::after 
{
    content: "";
    position: absolute;
    left: 15px;
    height: 33px;
    width: 2px;
    background-color: #FFFFFF;
}

.btn--close::before 
{
    transform: rotate(45deg);
}

.btn--close::after 
{
    transform: rotate(-45deg);
}

/* Pages */
.pages--container
{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.pages--container .pages,
.pages--container .page,
.pages--container .content
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pages--container .page,
.pages--container .content
{
    transition: transform 0.6s cubic-bezier(0.075, 0.25, 0.165, 1);
    will-change: transform;
}

.pages--container .page.is-before
{
    transform: translateX(-100%);
}
.pages--container .page.is-before .content
{
    transform: translateX(100%);
}

.pages--container .page.is-after
{
    transform: translateX(100%);
}
.pages--container .page.is-after .content
{
    transform: translateX(-100%);
}

/* Siblings */

.pages--container .sibling
{
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    z-index: 1;
}

.pages--container .sibling.previous
{
    left: 0;
}

.pages--container .sibling.firstLast
{
    display: none;
}

.pages--container .sibling.next
{
    right: 0;
}

.pages--container .sibling::after
{
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    border-radius: 5px;
    opacity: 0.50;
    transition: opacity 0.3s;
    will-change: opacity;
}

.pages--container .sibling:hover::after
{
    opacity: 1;
}

.pages--container .sibling.previous::after
{
    transform: translateX(30px) rotate(-135deg)
}

.pages--container .sibling.next::after
{
    transform: translateX(-30px) rotate(45deg)
}

/* Icons */

.icon
{
    width: 40px;
    opacity: 0.5;
    transition: opacity 0.3s;
    will-change: opacity;
    cursor: pointer;
    z-index: 11;
}

.icon:hover
{
    opacity: 1;
}

.document__container
{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #25182680;
    display: flex;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 10;
}

.document__container.open
{
    opacity: 1;
}

.document__container .document
{
    position: absolute;
    height: 90%;
    width: 30%;
    margin: auto;
    right: 5%;
    align-self: center;
    background: #251826;
    transform: translateX(100%);
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
}

.document__container.open .document
{
    transform: translateX(0);
}

.document__container .document .text__container
{
    height: 90%;
    width: 85%;
    border: 2px solid white;
    align-self: center;
}

.text__container .icon__title
{
    font-size: 2rem;
    margin: 10% auto;
    width: 80%;
    border-bottom: 1px solid white;
    padding-bottom: 5%;
}

.text__container .icon__text
{
    font-size: 1rem;
    margin: 0 auto;
    width: 80%;
}