/* Class button */
.btn--main
{
    position: relative;
    cursor: pointer;
    color: #FFFFFF;
    height: 20px;
    width: 200px;
}

.btn--border
{
    border: solid 1px #FFFFFF50;
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.btn--line
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.btn--line.top--left
{
    left: 0;
    top: 0;
}

.btn--line.bottom--right
{
    right: 0;
    bottom: 0;
}

.btn--border.border--back
{
    transform: translateX(2%) translateY(10%);
}

.btn--main:hover .top--left::after
{
    transform: scaleX(1);
}

.top--left::after
{
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    background: #FFFFFF;
    width: 100%;
    height: 1px;
    transition: transform 0.3s;
    transform-origin: left;
    transform: scaleX(0);
    will-change: transform;
}

.btn--main:hover .top--left::before
{
    transform: scaleY(1);
}

.top--left::before
{
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    background: #FFFFFF;
    width: 1px;
    height: 100%;
    transition: transform 0.3s;
    transform-origin: top;
    transform: scaleY(0);
    will-change: transform;
}

.btn--main:hover .bottom--right::after
{
    transform: scaleX(1);
}

.bottom--right::after
{
    content: "";
    position: absolute;
    right: -1px;
    bottom: -1px;
    background: #FFFFFF;
    width: 100%;
    height: 1px;
    transition: transform 0.3s;
    transform-origin: right;
    transform: scaleX(0);
    will-change: transform;
}

.btn--main:hover .bottom--right::before
{
    transform: scaleY(1);
}

.bottom--right::before
{
    content: "";
    position: absolute;
    right: -1px;
    bottom: -1px;
    background: #FFFFFF;
    width: 1px;
    height: 100%;
    transition: transform 0.3s;
    transform-origin: bottom;
    transform: scaleY(0);
    will-change: transform;
}

.btn--border.border--front
{
    transform: translateX(-2%) translateY(-10%);
}

.btn--border.btn--content
{
    text-align: center;
}

/* Menu */

.menu__cards
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}

.menu__card
{
    height: 100%;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    overflow: hidden;
}

.menu__card__background
{
    position: absolute;
    left: -50%;
    top: 0;
    height: 100%;
}

.menu__card::before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #412057;
    opacity: 0.28;
    z-index: 2;
    transition: opacity 0.3s;
    will-change: opacity;
}

.menu__card__content
{
    position: relative;
    height: 100%;
    z-index: 1;
}

.menu__card.active::before
{
    opacity: 0;
    z-index: 1;
}

.menu__card.incoming::after
{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00000080;
    z-index: 2;
}

.menu__card.active .menu__card__content .card__text,
.menu__card.active .menu__card__content .btn--main
{
    opacity: 1;
}

.menu__card .menu__card__content .card__title
{
    position: absolute;
    left: 5%;
    top: 30%;
    font-size: 4rem;
    color: #FFFFFF;
    text-transform: uppercase;
}

.menu__card .menu__card__content .card__text,
.menu__card .menu__card__content .btn--main
{
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
}

.menu__card .menu__card__content .card__text
{
    width: 40%;
    top: 45%;
    left: 5%;
}

.menu__card .menu__card__content .btn--main
{
    top: 60%;
    text-align: center;
}

.menu__card .menu__card__content .frontImage
{
    position: absolute;
    right: -320px;
    bottom: -40px;
    height: 100%;
    z-index: -1;
}