html,
body
{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: white;
}

.icon__title
{
    font-family: "Bodoni";
}

.icon__text
{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 22px;
}

span.strong
{
    font-weight: bold;
}

/* HEADER */

.page.page1,
.page.page6
{
    background: url('../images/backgrounds/Fond.jpg');
    background-size: cover;
    background-position: center;
}

.page.page2
{
    background: #4f4f4f;
}

.page.page3
{
    background: #4f4f4f;
}

.page .content
{
    background: #3E1E5380;
}

.page__header
{
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: 100%;
}

.page__header .page__title
{
    margin: 0 auto;
    font-size: 3rem;
    align-self: center;
    text-transform: uppercase;
    font-family: "Bodoni", sans-serif;
}

.page__header a img
{
    height: 100px;
}

/* MAIN */

.page__main
{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: -1;
}

.page.page2 .page__main
{
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    z-index: -1;
    justify-content: space-between;
}

.page.page2 .icon
{
    position: absolute;
    right: 5%;
    top: 15%;
}

.page.page2 .document__container
{
    position: fixed;
    top: 0;
    left: 0;
}

.page__main .page__text
{
    font-size: 2.5rem;
    width: 50%;
    text-align: center;
    align-self: center;
    font-family: "Bodoni-Book";
}

.page__main .page__final
{
    font-size: 1.8rem;
    width: 50%;
    text-align: center;
    align-self: center;
    font-family: "Bodoni Roman", sans-serif;
    position: relative;
}

.page__main .page__final::before,
.page__main .page__final::after
{
    content: '';
    position: absolute;
    width: 80%;
    height: 1px;
    left: 10%;
    background: white;
}

.page__main .page__final::before
{
    top: -15%;
}

.page__main .page__final::after
{
    bottom: -15%;
}

.main__mask
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: #3E1E5380;
}

.main__map
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-right: 5%;
    width: 50%;
    top: 7%;
    height: auto;
}

.main__map__img
{
    width: 100%;
    height: auto;
    top: 15%;
}

.container__block
{
    display: flex;
    flex-direction: column;
}

.main__block
{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.block__text
{
    margin: 0;
    align-self: center;
    font-size: 20px;
    width: 45%;
    padding-left: 35px;
    font-family: 'Lato', sans-serif;
}

.map__text__title
{
    position: absolute;
    top: 18%;
    left: 20%;
    font-size: 27px;
    font-family: "Bodoni-Book"
}

.map__text__title::before
{
    content: '';
    position: absolute;
    background: white;
    width: 160px;
    height: 3px;
    top: 140%;
    left: 24%;
}

.map__title
{
    align-self: flex-end;
    font-size: 27px;
    font-family: "Bodoni-Book";
    margin: 0;
}

.map__title::before {
    content: '';
    position: absolute;
    background: white;
    width: 141px;
    height: 3px;
    top: 102%;
    left: 75%;
}

.circle__betes
{
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    background: #3E1E5390;
    border: 2.3px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.circle__map
{
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    background: #3E1E5390;
    border: 2.3px solid white;
    border-radius: 50%;
    width: 35%;
    height: 43%;
    top: 47%;
    left: 14%;
}

.circle__map__h2
{
    align-self: center;
    font-size: 13px;
    text-transform: uppercase;
}

.map__h2
{
    position: absolute;
    font-size: 13px;
    text-transform: uppercase;
}

.pos1
{
    top: 35%;
    left: 23%;
}

.pos2
{
    top: 29%;
    left: 54%;
}

.pos3
{
    top: 55%;
    left: 54%;
}

/* First block on the left of the map */

.main__block.first {
    top: 32%;
    width: 45%;
    left: 16%;
}

.main__block.first .circle__betes
{
    position: relative;
}

.block__first__h2
{
    align-self: center;
}

/* Second block on the left of the map */

.main__block.second {
    top: 48%;
    width: 45%;
    left: 16%;
}

.main__block.second .circle__betes
{
    position: relative;
}

.block__second__h2
{
    align-self: center;
    font-size: 33px;
    font-family: "Bodoni"
}

/* Third block on the left of the map */

.main__block.third {
    top: 64%;
    width: 45%;
    left: 16%;
}

.main__block.third .circle__betes
{
    position: relative;
}

.block__third__h2
{
    align-self: center;
    font-size: 28px;
    font-family: "Bodoni"
}

/* Fourth block on the left of the map */

.main__block.fourth {
    top: 80%;
    width: 45%;
    left: 16%;
}

.main__block.fourth .circle__betes
{
    position: relative;
}

.block__fourth__h2
{
    align-self: center;
    font-size: 37px;
    font-family: "Bodoni"
}

/* Instruction page before the panorama */

.preloader
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.preloader .top--preloader
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 5s;
}

.preloader .top--preloader .preloader__logo
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader .top--preloader .preloader__logo img
{
    width: 15%;
}

.preloader .top--preloader .preloader__percentage
{
    font-size: 1.5rem;
    font-family: "Bodoni Roman", sans-serif;
    position: absolute;
    margin-top: -3.5%;
}

.preloader .top--preloader .preloader__sentence
{
    font-size: 1.2rem;
    font-family: "Bodoni Roman", sans-serif;
    margin-top: 4%;
}

.preloader .bottom--preloader
{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    margin: 0 auto;
    animation: fadeIn 5s;
}

.preloader .bottom--preloader .line
{
    display: flex;
    justify-content: center;
    opacity: 0.4;
}

.preloader .bottom--preloader .preloader__icons
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.preloader .bottom--preloader .preloader__icons .icon__logo
{
    font-size: 3rem;
    cursor: default;
    font-family: 'Lato', sans-serif;
}

.preloader .bottom--preloader img
{
    width: 10%;
}

.preloader .bottom--preloader .preloader__text
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.preloader .bottom--preloader .preloader__text p
{
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
}

/*
*   Bétés universe
 */

.page__header__panorama
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.page__header__panorama a img {
    height: 100px
}

.topnav--right
{
    margin-right: 20px;
    align-self: center;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-family: "Bodoni";
}

.topnav--left
{
    margin: 20px;
}

.characters
{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 100%;
}

.characters .icon
{
    position: absolute;
    width: 40px;
    height: 40px;
}

.characters .icon .iconImage
{
    width: 40px;
    height: 40px;
}

.characters .document__container
{
    position: fixed;
    top: 0;
    left: 0;
}

.icon h2
{
    font-size: 1rem;
}


.page.page4
{
    background: url('../images/univers_betes/fond.png');
    background-size: cover;
    /*background-position: center;*/
}

.page.page4 .characters .couple .image
{
    position: absolute;
    width: 35vw;
    left: 14%;
    bottom: 17%;
}

.page.page4 .characters .couple .icon1 .icon
{
    position: absolute;
    top: 35%;
    left: 20%;
}

.page.page4 .characters .couple .icon2 .icon
{
    position: absolute;
    top: 35%;
    left: 25%;
}

.page.page4 .characters .education .image
{
    position: absolute;
    /*top: 32%;*/
    width: 16vw;
    left: 50%;
    bottom: 38%;
}

.page.page4 .characters .dancers .image
{
    position: absolute;
    bottom: 16%;
    width: 23vw;
    left: 70%;
}

.page.page4 .characters .dancers .icon1 .icon
{
    position: absolute;
    top: 20%;
    left: 80%;
}

.page.page5
{
    background: url('../images/univers_betes/fond.png');
    background-size: cover;
    background-position: right;
}

.page.page5 .characters .music .image
{
    position: absolute;
    width: 20vw;
    left: 10%;
    bottom: 32%;
}

.page.page5 .characters .music .icon1 .icon
{
    position: absolute;
    top: 35%;
    left: 20%;
}

.page.page5 .characters .music .icon2 .icon
{
    position: absolute;
    top: 35%;
    left: 25%;
}

.page.page5 .characters .langage .image
{
    position: absolute;
    width: 18vw;
    left: 40%;
    bottom: 22%;
}

.page.page5 .characters .langage .icon1 .icon
{
    position: absolute;
    top: 25%;
    left: 45%;
}

.page.page5 .characters .langage .icon2 .icon
{
    position: absolute;
    top: 25%;
    left: 50%;
}

.page.page5 .characters .food .image
{
    position: absolute;
    bottom: 18%;
    width: 23vw;
    right: 7%;
}

.page.page5 .characters .food .icon1 .icon
{
    position: absolute;
    top: 30%;
    left: 75%;
}

.page.page5 .characters .food .icon2 .icon
{
    position: absolute;
    top: 30%;
    left: 80%;
}

.page.page5 .characters .food .icon3 .icon
{
    position: absolute;
    top: 30%;
    left: 85%;
}

/* How to use */

.instructions {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    z-index: 20;
}

.instructions .instructions__inner {
    top: 0;
    left: 0;
    width: 800px;
    height: 100%;
    padding: 20px 60px;
    background: #251826;
    opacity: 0.95;
    color: #FFFFFF;
    transform: translateX(0%);
    transition-property: transform;
    transition-duration: 1s;
    will-change: transform;
    overflow: hidden;
}

.instructions.open .instructions__inner {
    transform: translateX(-100%);
}

.btn--close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    z-index: 20;
    cursor: pointer;
    transition: transform 0.3s;
    will-change: transform;
}

.btn--close.close {
    transform: rotate(90deg);
}

.btn--close::before, .btn--close::after {
    content: "";
    position: absolute;
    left: 15px;
    height: 33px;
    width: 2px;
    background-color: #FFFFFF;
}

.btn--close::before {
    transform: rotate(45deg);
}

.btn--close::after {
    transform: rotate(-45deg);
}

.instructions__title
{
    font-family: "Bodoni";
    font-weight: bold;
    text-transform: uppercase;
}

.instructions__text
{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    margin-top: 3.5rem;
    width: 90%;
}

.instructions__blocks
{
    display: flex;
    margin-top: 85px;
    justify-content: space-between;
}

.blocks__text
{
    text-align: left;
    font-size: 20px;
    width: 52%;
    margin: 0;
}

.blocks__form
{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 42%;
    justify-content: space-around;
}

.blocks__img
{
    width: 50px;
    height: 50px;
}

.blocks__title
{
    position: absolute;
    font-size: 17px;
    left: 9%;
    top: 83%;
}

.blocks__title2
{
    position: absolute;
    font-size: 17px;
    left: -3%;
    top: 83%;
}

.blocks__title3
{
    position: absolute;
    font-size: 17px;
    left: 5%;
    top: 56%;
}

.blocks__title4
{
    position: absolute;
    font-size: 17px;
    left: 0;
    top: 59%;
}

@font-face
{
    font-family: "Bodoni";
    font-weight: bold;
    src: url('../fonts/BodoniFLF-Bold.ttf');
}

@font-face
{
    font-family: "Bodoni-Book";
    src: url('../fonts/BodoniStd-Book.otf');
}
