html,
body
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #444444;
    height: 100vh;
    width: 100vw;
    color: white;
}


.test
{
    height: 100vh;
    width: 100vw;
    background: #000000;
}

.icon
{
    position: absolute;
    left: 40%;
}

span.strong
{
    font-weight: bold;
}